<!DOCTYPE html>
<html lang="ru">

<head>
    {% set title = 'Сергей Голубенко - Блог' %}
    {% include '/components/head.twig' with {title: title, css: css} %}
</head>

{% block content %}

<body>

{% include 'components/inner-header/inner-header.twig' %}
{% include 'blog-page/blog-page.twig' %}
{% include 'components/footer/footer.twig' %}

<script src="js/libs.min.js"></script>
<script src="js/main.js"></script>

{% endblock %}

</body>
</html>
