<!DOCTYPE html>
<html lang="ru">

<head>
    {% set title = 'Сергей Голубенко - Юридические услуги в Новороссийске' %}
    {% include '/components/head.twig' with {title: title, css: css} %}
</head>

{% block content %}

<body>

{% include 'main-page/header/header.twig' %}
{% include 'main-page/services/services.twig' %}
{% include 'main-page/about/about.twig' %}
{% include 'main-page/prices/prices.twig' %}

<script src="js/main.js"></script>
{% endblock %}

</body>
</html>
