<!DOCTYPE html>
<html lang="ru">

<head>
    {% set title = 'Сергей Голубенко - Юридические услуги в Новороссийске' %}
    {% include '/components/head.twig' with {title: title, css: css} %}
</head>

{% block content %}

<body>

{% include '/components/header/header.twig' %}

<script src="../js/main.js"></script>
{% endblock %}

</body>
</html>
