<section class="map">
    <picture>
        <source type="image/jpeg" media="(max-width: 767px)"
                srcset="https://sgolubenko.ru/assets/images//map320.jpg 1x, https://sgolubenko.ru/assets/images/map320-2x.jpg 2x ">
        <source type="image/jpeg" media="(max-width: 1439px)"
                srcset="../../../assets/images/map1280.jpg">
        <img src="https://sgolubenko.ru/assets/images/map1920.jpg" alt="Карта с адресом юриста">
    </picture>
</section>
