{% set blogList = [
    {
        title: 'Отмена и получение судебных приказов',
        text: 'Что делать, если получил судебный приказ? Судебный приказ – документ, схожий с судебным решением.
        На основании приказа принудительно взыскивают задолженности по налогам, коммунальным платежам, алиментам,
        кредитным договорам и другим бесспорным требованиям.',
        href: 'blog/court-order/',
        image: 'assets/images/blog-1.jpg'
    },
    {
        title: 'Анализ сайта медицинской организации',
        text: 'Кого считать медицинской организацией, основные нормативные акты. К сайту медицинской организации
        предъявляются особенные требования. Несоблюдение таких требований может привести к штрафу. Самостоятельно
        проверить свой сайт поможет эта статья.',
        href: '/error.html',
        image: 'assets/images/blog-2.jpg'
    },
    {
        title: 'Миграционное законодательство или как нанять на работу мигранта',
        text: 'На первый взгляд нанять иностранца кажется невозможным из-за сложного миграционного
        законодательства РФ. На самом деле, этот процесс не так сложен и не сильно отличается от найма работника с
        российским гражданством, просто есть некоторые нюансы. Как не упустить специалиста-иностранца, рассказываем
        в этой статье.',
        href: '/error.html',
        image: 'assets/images/blog-3.jpg'
    }
] %}


<section class="blog">
    <div class="container">
        <h1 class="blog__title title">Блог</h1>
        <ul class="blog__list">
            {% for item in blogList %}
            <li class="blog__item">
                <div class="blog__item-info">
                    <h2 class="blog__item-title">{{ item.title }}</h2>
                    <p class="blog__item-text">{{ item.text }}</p>
                    <div class="blog__item-button">
                        {% set href = item.href %}
                        {% set text = 'Читать далее' %}
                        {% set color = 'transparent' %}
                        {% include '../components/button/button.twig' with href: href, text: text, color: color %}
                    </div>
                </div>
                <img class="blog__item-img" src="{{ item.image }}" alt="{{ item.title }}">
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
