<section class="about" id="about">
    <div class="container">
    <h2 class="about__title title">Обо мне</h2>
    <div class="about__info">
        <p class="about__info-text">Оказываю профессиональные юридические услуги гражданам, предпринимателям,
            юридическим лицам и&nbsp;некоммерческим организациям (НСТ) не&nbsp;только на&nbsp;территории города
            Новороссийска, но&nbsp;и&nbsp;по&nbsp;всему Краснодарскому краю.</p>
        <p class="about__info-text">Обеспечу защиту ваших прав в&nbsp;мировых, общей юрисдикции и&nbsp;арбитражном судах
            Краснодарского края, также имею возможность и&nbsp;опыт выступлений в&nbsp;онлайн заседаниях
            по&nbsp;всему ЮФО.</p>
    </div>
    <ul class="about__achievements">
        <li class="about__achievement">
            <span>> 7 лет</span>
            <p>юридической деятельности</p>
        </li>
        <li class="about__achievement">
            <span>> 40 выигранных дел</span>
            <p>в области гражданского, административного и процессуального права</p>
        </li>
    </ul>
    <p class="about__extra-text">Я таккже оказываю юридические услуги в&nbsp;области защиты прав потребителя,
        отстаивание интересов юридического лица в&nbsp;рамках закона о&nbsp;защите прав потребителя,
        споры с&nbsp;государственными органами банкротство физических лиц, списание долгов по&nbsp;кредитам,
        возвращение банковских комиссий.</p>
    </div>
</section>
