.about {
  @include space(padding-top, vr-8);
  @include space(padding-bottom, vr-11);
  background-color: $dark-blue;

  &__title {
    @include space(margin-bottom, vr-7);
    color: $light-blue;

    &:before {
      background-color: $white;
    }
  }

  @include query($lg) {
    @include space(padding-bottom, vr-8);
  }

  @include query($xs) {
    text-align: center;
  }
}

.about__info {
  @include space(margin-bottom, vr-11);
  display: grid;
  grid-template-columns: 8fr 7fr;
  grid-column-gap: 120px;

  @include query($xl) {
    grid-template-columns: 6fr 5fr;
    grid-column-gap: 136px;
  }

  @include query($lg) {
    @include space(margin-bottom, vr-9);
    grid-column-gap: 128px;
  }

  @include query($md) {
    grid-column-gap: 96px;
  }

  @include query($sm) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 24px;
  }

  @include query($xs) {
    @include space(margin-bottom, vr-6);
  }

  &-text {
    @include font($p2...);
    color: $light-blue;
  }
}

.about__achievements {
  display: flex;
  justify-content: space-between;
  width: 896px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;

  @include space(margin-bottom, vr-11);

  @include query($xl) {
    width: 838px;
  }

  @include query($lg) {
    @include space(margin-bottom, vr-9);
  }

  @include query($md) {
    width: 100%;
  }

  @include query($sm) {
    flex-direction: column;
  }

  @include query($xs) {
    @include space(margin-bottom, vr-6);
  }
}

.about__achievement {
  span {
    @include font($title-h2...);
    display: inline-block;
    margin-bottom: 10px;
    color: $yellow;
  }

  p {
    @include font($p1...);
    color: $light-blue;
  }

  @include query($sm) {
    &:first-child {
      margin-bottom: 16px;
    }
  }
}

.about__extra-text {
  @include font($p3...);
  color: $light-blue;
  max-width: 1380px;
  margin: 0 auto;

  @include query($xl) {
    max-width: 1008px;
  }

  @include query($lg) {
    max-width: 926px;
  }

  @include query($md) {
    max-width: 100%;
  }
}
