.button {
  display: block;
  width: 300px;
  padding: 16px 20px;
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--light-blue {
    color: $dark-blue;
    background-color: $light-blue;
  }

  &--dark-blue {
    color: $light-blue;
    background-color: $dark-blue;
  }

  &:hover {
    color: $dark-blue;
    background-color: $yellow;
  }

  @include query($sm) {
    width: 256px;
    padding: 13px 20px;
    font-size: 18px;
    line-height: 22px;
  }

  @include query($xs) {
    width: 216px;
    margin: 0 auto;
    padding: 11px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
