<section class="error">
    <div class="container">
        <h1 class="animate__animated animate__fadeIn animate__delay-1s">Мы пишем контент для&nbsp;этой страницы. <br>
            Возвращайтесь обязательно чуть позже.</h1>
    </div>
</section>
